<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8" />
<title>Linc</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta content="" name="description" />
<meta content="" name="author" />
<!-- BEGIN CORE CSS FRAMEWORK -->
<!-- BEGIN PLUGIN CSS -->
<link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="assets/plugins/bootstrap-select2/select2.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" type="text/css" />
<link href="assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.css" rel="stylesheet" type="text/css" />
<link href="assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" type="text/css" />
<link href="assets/plugins/boostrap-checkbox/css/bootstrap-checkbox.css" rel="stylesheet" type="text/css" media="screen"/>
<link rel="stylesheet" href="assets/plugins/ios-switch/ios7-switch.css" type="text/css" media="screen">
<link href="assets/plugins/jquery-slider/css/jquery.sidr.light.css" rel="stylesheet" type="text/css" media="screen"/>
<!-- END PLUGIN CSS -->
<!-- BEGIN CORE CSS FRAMEWORK -->
<link href="assets/plugins/boostrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/plugins/boostrapv3/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
<link href="assets/css/animate.min.css" rel="stylesheet" type="text/css"/>
<!-- END CORE CSS FRAMEWORK -->
<!-- BEGIN CSS TEMPLATE -->
<link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
<link href="assets/css/responsive.css" rel="stylesheet" type="text/css"/>
<link href="assets/css/custom-icon-set.css" rel="stylesheet" type="text/css"/>
<!-- END CSS TEMPLATE -->

<style type="text/css">

  .lockscreen-wrapper {
position: relative;
 margin-top: 0 !important;
}

.login-container {
margin-top: 23% !important;
}

.loginform{
  width: 53%;
  margin-bottom: 7px;
  margin-right: 7px;
}

.forgot{
  margin-left: 86px;
}

</style>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="error-body no-top">

  <!-- Begin Contenido -->
<div class="container">

  <div class="row">
        <div class="col-md-12">
          <div class="grid simple">
            <div class="grid-title no-border">
              <h4>Condensed <span class="semi-bold">Layout</span></h4>
              <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            <div class="grid-body no-border">
			<form class="form-no-horizontal-spacing" id="form-condensed" novalidate="novalidate">	
              <div class="row column-seperation">
                <div class="col-md-6">
                  <h4>Basic Information</h4>            
                    <div class="row form-row">
                      <div class="col-md-5">
                        <input name="form3FirstName" id="form3FirstName" type="text" class="form-control" placeholder="First Name">
                      </div>
                      <div class="col-md-7">
                        <input name="form3LastName" id="form3LastName" type="text" class="form-control" placeholder="Last Name">
                      </div>
                    </div>
                    <div class="row form-row">
                      <div class="col-md-5">
                        <div class="select2-container select2 form-control" id="s2id_form3Gender"><a href="javascript:void(0)" onclick="return false;" class="select2-choice" tabindex="-1">   <span class="select2-chosen">Male</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow"><b></b></span></a><input class="select2-focusser select2-offscreen" type="text" id="s2id_autogen1"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input">   </div>   <ul class="select2-results">   </ul></div></div><select name="form3Gender" id="form3Gender" class="select2 form-control select2-offscreen" tabindex="-1">
                          <option value="1">Male</option>
                          <option value="2">Female</option>
                        </select>
                      </div>
                      <div class="col-md-7">
                        <input type="text" placeholder="Date of Birth" class="form-control" id="form3DateOfBirth" name="form3DateOfBirth">
                      </div>
                    </div>
                    <div class="row form-row">
                      <div class="col-md-12">
                        <input name="form3Occupation" id="form3Occupation" type="text" class="form-control" placeholder="Occupation">
                      </div>
                    </div>
                    <div class="row form-row">
                      <div class="col-md-8">
                        <div class="radio">
                          <input id="male" type="radio" name="gender" value="male" checked="checked">
                          <label for="male">Male</label>
                          <input id="female" type="radio" name="gender" value="female">
                          <label for="female">Female</label>
                        </div>
                      </div>
                    </div>
                    <div class="row form-row">
                      <div class="col-md-12">
                        <input name="form3Email" id="form3Email" type="text" class="form-control" placeholder="email@address.com">
                      </div>
                    </div>
                </div>
                <div class="col-md-6">
				
                  <h4>Postal Information</h4>
                  
                    <div class="row form-row">
                      <div class="col-md-12">
                        <input name="form3Address" id="form3Address" type="text" class="form-control" placeholder="Address">
                      </div>
                    </div>
                    <div class="row form-row">
                      <div class="col-md-6">
                        <input name="form3City" id="form3City" type="text" class="form-control" placeholder="City">
                      </div>
                      <div class="col-md-6">
                        <input name="form3State" id="form3State" type="text" class="form-control" placeholder="State">
                      </div>
                    </div>
                    <div class="row form-row">
                      <div class="col-md-8">
                        <input name="form3Country" id="form3Country" type="text" class="form-control" placeholder="Country">
                      </div>
                      <div class="col-md-4">
                        <input name="form3PostalCode" id="form3PostalCode" type="text" class="form-control" placeholder="Postal Code">
                      </div>
                    </div>
                    <div class="row form-row">
                      <div class="col-md-4">
                        <input name="form3TeleCode" id="form3TeleCode" type="text" class="form-control" placeholder="+94">
                      </div>
                      <div class="col-md-8">
                        <input name="form3TeleNo" id="form3TeleNo" type="text" class="form-control" placeholder="Phone Number">
                      </div>
                    </div>
                    <div class="row small-text">
					<p class="col-md-12">
					NOTE - Facts to be considered, Simply remove or edit this as for what you desire. Disabled font Color and size
					</p>
					</div>
             
                </div>
              </div>
				<div class="form-actions">
					<div class="pull-left">
					  <div class="checkbox checkbox check-success 	">
						<input type="checkbox" value="1" id="chkTerms">
						<label for="chkTerms">I Here by agree on the Term and condition. </label>
					  </div>
					</div>
					<div class="pull-right">
					  <button class="btn btn-danger btn-cons" type="submit"><i class="icon-ok"></i> Save</button>
					  <button class="btn btn-white btn-cons" type="button">Cancel</button>
					</div>
				  </div>
			</form>
            </div>
          </div>
        </div>
      </div>

</div>
  <!-- END Contenido -->
<!-- END CONTAINER -->
<!-- BEGIN CORE JS FRAMEWORK-->
{{ HTML::script('assets/plugins/jquery-1.8.3.min.js') }}
{{ HTML::script('assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js') }}
{{ HTML::script('assets/plugins/bootstrap/js/bootstrap.min.js') }}
{{ HTML::script('assets/plugins/breakpoints.js') }}
{{ HTML::script('assets/plugins/jquery-unveil/jquery.unveil.min.js') }}
<!-- END CORE JS FRAMEWORK -->
<!-- BEGIN PAGE LEVEL JS -->
{{ HTML::script('assets/plugins/jquery-slider/jquery.sidr.min.js') }}
{{ HTML::script('assets/plugins/jquery-block-ui/jqueryblockui.js') }} 
{{ HTML::script('assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js') }}
{{ HTML::script('assets/plugins/pace/pace.min.js') }}
{{ HTML::script('assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}
{{ HTML::script('assets/plugins/bootstrap-select2/select2.min.js') }}
{{ HTML::script('assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}
{{ HTML::script('assets/plugins/boostrap-form-wizard/js/jquery.bootstrap.wizard.min.js') }}
{{ HTML::script('assets/plugins/jquery-validation/js/jquery.validate.min.js') }}
<!-- END PAGE LEVEL PLUGINS -->
{{ HTML::script('assets/js/form_validations.js') }}
<!-- BEGIN CORE TEMPLATE JS -->
{{ HTML::script('assets/js/core.js') }}
{{ HTML::script('assets/js/demo.js') }}
<!-- END CORE TEMPLATE JS -->
<!-- END JAVASCRIPTS -->

 
</body>
</html>
